// Variables
$navbar-color: #D8F5F2;
$navbar-border: #9be5de;
$header-color: #FDF7EF;
$header-secondary-color: #2EBAAB;
$header-tertiary-color: #39A2B5;
$link-color: #C84280;
$panel-background-color: #d9eaed;
$panel-border-color: #94c4cc;

/* border box everything in the universe, and what comes before and after, by Paul Irish 
http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Global styles
body {
    font-family: 'Lora', 'Geneva', 'Tahoma', serif;
}

h1, h2, h3 {
    font-family: 'Seaweed Script', cursive;
    font-weight: 100;
}

a:link, a:visited {
    text-decoration: none;
    color: $link-color;
}

a:hover, a:active {
    text-decoration: none;
    color: darken(#C84280, 10%);
}

nav, footer {
    background-color: $navbar-color;
}

// nav styles
nav {
    border-bottom: 1px solid $navbar-border;
    top: 0;
    position: fixed;
    width: 100%;
    
    ul {
        padding-bottom: 1em;
        
        li {
            list-style: none;
            float: left;
            margin-right: 1em;
            font-weight: bold;
            
            i {
                visibility: hidden;
            }
        }
    }
}

// header styles
header {
    background: url(../img/background/background-large.jpg) no-repeat;
    height: 300px;
    margin-top: -1em;
    
    h1 {
        text-align: right;
        margin-right: 1em;
        color: $header-color;
        font-size: 3em;
    }
}

// main styles
.mainimg {
    margin: 0 auto;
}

main {
    
    h2 {
        color: $header-secondary-color;
        font-size: 2em;
    }
    
    p {
        font-size: 1.2em;
        line-height: 1.5em;
    }
}

// aside styles
aside {
    
    form {
        margin: 1em auto;
        padding: 0.5em;
        background-color: $header-color;
        color: $header-secondary-color;
        
        legend {
            font-weight: bold;
            margin-bottom: 1em;
        }
        
        label {
            float: left;
            clear: right;
            margin-right: 5em;
            margin-bottom: 0.5em;
            font-weight: bold;
        }
        
        input, textarea {
            margin-bottom: 1.5em;
        }
    }
}

article {
    background-color: $panel-background-color;
    border: 1px solid $panel-border-color;
    padding-bottom: 1.5em;
    margin: 0 1em;
    
    h3 {
        font-size: 1.5em;
        color: $header-tertiary-color;
    }
    
    p:first-of-type {
        color: $link-color;
        line-height: 0.5em;
    }
    
    p {
        line-height: 1.2em;
    }
}

// footer styles
footer {
    border-top: 1px solid $navbar-border; 
    
    p {
        margin: 0;
        text-align: center;
        padding: 1em;
    }
    
    i {
        margin: 0 1em;
    }
}
// Flexbox grid styles
.row {
	display: flex;
    flex-flow: row wrap;
    margin: 2em 0;
}

.last {
    margin-bottom: 0;
}

[class*='col-']{
	padding: 0 1em;
}

.col-1 {
	flex: 0 0 25%;
}

.col-2-1 {
	flex: 0 0 50%;
}

.col-4 {
	flex: 0 0 100%;
}

// Media queries, adjusting grid for changing widths
/* Large Devices, Laptops */
@media (max-width: 1125px) {
    .col-2-1 {
        flex: 0 0 45%;
    }
}

/* Large Devices, Laptops */
@media (max-width: 1020px) {
    .col-2-1 {
        flex: 0 0 35%;
    }
}

/* Medium Devices, Laptops, Tablets*/
@media (max-width: 945px) {
    .art3 {
        margin-top: 2em;
    }
}

/* Medium Devices, Laptops, Tablets*/
@media (max-width: 864px) {
    .col-2-1 {
        flex: 0 0 100%;
    }
    
    header {
        background: url(../img/background/background-medium.jpg) no-repeat;
    }
    
    aside {
        order: 1;
    }
    
    .mainimg {
        order: 2;
    }
    
    main {
        order: 3;
        text-align: center;
    }
}

/* Small Devices, Tablets, Phones*/
@media (max-width: 638px) {
    .row {
        justify-content: center;
    }
    
    nav {        
        ul {
            li {
                span {
                   display: none;
                }
                
                i {
                    visibility: visible;
                    margin-right: 1.5em;
                }
            }
        }
    }
    
    .art2, .art5 {
        margin-top: 2em;
    }
}

/* Small Devices, Tablets, Phones*/
@media (max-width: 570px) {
    .row {
        align-content: center;
    }
    .col-1 {
        flex: 0 0 90%;
    }
    
    aside {
        order: 3;
    }
    
    .mainimg {
        order: 1;
        padding-left: 7em; 
    }
    
    main {
        order: 2;
        text-align: center;
    }
    
    article {
        margin: auto 1em;
    }
}

/* Small Devices, Phones*/
@media (max-width: 360px) {
    header {
        background: url(../img/background/background-sm.jpg) no-repeat;
        
        h1 {
            font-size: 2em;
            text-align: center;
        }
    }
    
    .mainimg {
        order: 1;
        padding-left: 0; 
    }
    
    nav {        
        ul {
            li {
                i {
                    visibility: visible;
                    margin-right: 0.5em;
                }
            }
        }
    }
    
    article {
        margin: auto 0.5em;
    }
}