/* border box everything in the universe, and what comes before and after, by Paul Irish 
http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.row {
	display: flex;
    flex-flow: row wrap;
    flex: 0 1 auto;
}