/* border box everything in the universe, and what comes before and after, by Paul Irish 
http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* line 14, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
html {
  box-sizing: border-box;
}

/* line 17, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 22, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
body {
  font-family: 'Lora', 'Geneva', 'Tahoma', serif;
}

/* line 26, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
h1, h2, h3 {
  font-family: 'Seaweed Script', cursive;
  font-weight: 100;
}

/* line 31, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
a:link, a:visited {
  text-decoration: none;
  color: #C84280;
}

/* line 36, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
a:hover, a:active {
  text-decoration: none;
  color: #a73067;
}

/* line 41, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
nav, footer {
  background-color: #D8F5F2;
}

/* line 45, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
button {
  margin-bottom: 1em;
  border: none;
  font: inherit;
  color: white;
  padding: 0 12px;
  background: #ce568d;
  vertical-align: middle;
  line-height: 30px;
  min-height: 30px;
  font-size: 1rem;
  text-align: center;
}

/* line 60, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
nav {
  border-bottom: 1px solid #9be5de;
  top: 0;
  position: fixed;
  width: 100%;
}

/* line 66, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
nav ul {
  padding-bottom: 1em;
}

/* line 69, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
nav ul li {
  list-style: none;
  float: left;
  margin-right: 1em;
  font-weight: bold;
}

/* line 75, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
nav ul li i {
  visibility: hidden;
}

/* line 83, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
header {
  background: url(../img/background/background-large.jpg) no-repeat;
  height: 300px;
  margin-top: -1em;
}

/* line 88, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
header h1 {
  text-align: right;
  margin-right: 1em;
  color: #FDF7EF;
  font-size: 3em;
}

/* line 97, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
.mainimg {
  margin: 0 auto;
}

/* line 103, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
main h2 {
  color: #2EBAAB;
  font-size: 2em;
}

/* line 108, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
main p {
  font-size: 1.2em;
  line-height: 1.5em;
}

/* line 117, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
aside form {
  margin: 1em auto;
  padding: 0.5em;
  background-color: #FDF7EF;
  color: #2EBAAB;
}

/* line 123, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
aside form legend {
  font-weight: bold;
  margin-bottom: 1em;
}

/* line 128, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
aside form label {
  float: left;
  clear: right;
  margin-right: 5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

/* line 136, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
aside form input, aside form textarea {
  margin-bottom: 1.5em;
}

/* line 142, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
article {
  background-color: #d9eaed;
  border: 1px solid #94c4cc;
  padding-bottom: 1.5em;
  margin: 0 1em;
}

/* line 148, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
article h3 {
  font-size: 1.5em;
  color: #39A2B5;
}

/* line 153, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
article p:first-of-type {
  color: #C84280;
  line-height: 0.5em;
}

/* line 158, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
article p {
  line-height: 1.2em;
}

/* line 164, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
footer {
  border-top: 1px solid #9be5de;
}

/* line 167, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
footer p {
  margin: 0;
  text-align: center;
  padding: 1em;
}

/* line 173, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
footer i {
  margin: 0 1em;
}

/* line 178, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
.row {
  display: flex;
  flex-flow: row wrap;
  margin: 2em 0;
}

/* line 184, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
.last {
  margin-bottom: 0;
}

/* line 188, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
[class*='col-'] {
  padding: 0 1em;
}

/* line 192, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
.col-1 {
  flex: 0 0 25%;
}

/* line 196, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
.col-2-1 {
  flex: 0 0 50%;
}

/* line 200, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
.col-4 {
  flex: 0 0 100%;
}

/* Large Devices, Laptops */
@media (max-width: 1125px) {
  /* line 207, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  .col-2-1 {
    flex: 0 0 45%;
  }
}

/* Large Devices, Laptops */
@media (max-width: 1020px) {
  /* line 214, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  .col-2-1 {
    flex: 0 0 35%;
  }
}

/* Medium Devices, Laptops, Tablets*/
@media (max-width: 945px) {
  /* line 221, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  .art3 {
    margin-top: 2em;
  }
}

/* Medium Devices, Laptops, Tablets*/
@media (max-width: 864px) {
  /* line 228, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  .col-2-1 {
    flex: 0 0 100%;
  }
  /* line 232, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  header {
    background: url(../img/background/background-medium.jpg) no-repeat;
  }
  /* line 236, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  aside {
    order: 1;
  }
  /* line 240, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  .mainimg {
    order: 2;
  }
  /* line 244, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  main {
    order: 3;
    text-align: center;
  }
}

/* Small Devices, Tablets, Phones*/
@media (max-width: 638px) {
  /* line 252, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  .row {
    justify-content: center;
  }
  /* line 259, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  nav ul li span {
    display: none;
  }
  /* line 263, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  nav ul li i {
    visibility: visible;
    margin-right: 1.5em;
  }
  /* line 271, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  .art2, .art5 {
    margin-top: 2em;
  }
}

/* Small Devices, Tablets, Phones*/
@media (max-width: 570px) {
  /* line 278, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  .row {
    align-content: center;
  }
  /* line 281, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  .col-1 {
    flex: 0 0 90%;
  }
  /* line 285, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  aside {
    order: 3;
  }
  /* line 289, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  .mainimg {
    order: 1;
    padding-left: 7em;
  }
  /* line 294, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  main {
    order: 2;
    text-align: center;
  }
  /* line 299, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  article {
    margin: auto 1em;
  }
}

/* Small Devices, Phones*/
@media (max-width: 360px) {
  /* line 306, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  header {
    background: url(../img/background/background-sm.jpg) no-repeat;
  }
  /* line 309, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  header h1 {
    font-size: 2em;
    text-align: center;
  }
  /* line 315, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  .mainimg {
    order: 1;
    padding-left: 0;
  }
  /* line 323, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  nav ul li i {
    visibility: visible;
    margin-right: 0.5em;
  }
  /* line 331, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  article {
    margin: auto 0.5em;
  }
}

/*# sourceMappingURL=../css/styles.map */