/* border box everything in the universe, and what comes before and after, by Paul Irish 
http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* line 13, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
html {
  box-sizing: border-box;
}

/* line 16, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 21, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
body {
  font-family: 'Lora', 'Geneva', 'Tahoma', serif;
}

/* line 25, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
h1, h2, h3 {
  font-family: 'Seaweed Script', cursive;
  font-weight: 100;
}

/* line 30, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
a:link, a:visited {
  text-decoration: none;
  color: #C84280;
}

/* line 35, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
a:hover, a:active {
  text-decoration: none;
  color: #a73067;
}

/* line 40, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
nav, footer {
  background-color: #D8F5F2;
}

/* line 45, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
nav {
  border-bottom: 1px solid #9be5de;
  top: 0;
  position: fixed;
  width: 100%;
}

/* line 51, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
nav ul {
  padding-bottom: 1em;
}

/* line 54, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
nav ul li {
  list-style: none;
  float: left;
  margin-right: 1em;
  font-weight: bold;
}

/* line 60, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
nav ul li i {
  visibility: hidden;
}

/* line 68, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
header {
  background: url(../img/background/background-large.jpg) no-repeat;
  height: 300px;
  margin-top: -1em;
}

/* line 73, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
header h1 {
  text-align: right;
  margin-right: 1em;
  color: #FDF7EF;
  font-size: 3em;
}

/* line 82, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
.mainimg {
  margin: 0 auto;
}

/* line 88, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
main h2 {
  color: #2EBAAB;
  font-size: 2em;
}

/* line 93, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
main p {
  font-size: 1.2em;
  line-height: 1.5em;
}

/* line 102, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
aside form {
  margin: 1em auto;
  padding: 0.5em;
  background-color: #FDF7EF;
  color: #2EBAAB;
}

/* line 108, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
aside form legend {
  font-weight: bold;
  margin-bottom: 1em;
}

/* line 113, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
aside form label {
  float: left;
  clear: right;
  margin-right: 5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

/* line 121, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
aside form input, aside form textarea {
  margin-bottom: 1.5em;
}

/* line 127, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
article {
  background-color: #d9eaed;
  border: 1px solid #94c4cc;
  padding-bottom: 1.5em;
  margin: 0 1em;
}

/* line 133, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
article h3 {
  font-size: 1.5em;
  color: #39A2B5;
}

/* line 138, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
article p:first-of-type {
  color: #C84280;
  line-height: 0.5em;
}

/* line 143, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
article p {
  line-height: 1.2em;
}

/* line 149, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
footer {
  border-top: 1px solid #9be5de;
}

/* line 152, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
footer p {
  margin: 0;
  text-align: center;
  padding: 1em;
}

/* line 158, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
footer i {
  margin: 0 1em;
}

/* line 163, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
.row {
  display: flex;
  flex-flow: row wrap;
  margin: 2em 0;
}

/* line 169, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
.last {
  margin-bottom: 0;
}

/* line 173, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
[class*='col-'] {
  padding: 0 1em;
}

/* line 177, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
.col-1 {
  flex: 0 0 25%;
}

/* line 181, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
.col-2-1 {
  flex: 0 0 50%;
}

/* line 185, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
.col-4 {
  flex: 0 0 100%;
}

/* Large Devices, Laptops */
@media (max-width: 1125px) {
  /* line 192, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  .col-2-1 {
    flex: 0 0 45%;
  }
}

/* Large Devices, Laptops */
@media (max-width: 1020px) {
  /* line 199, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  .col-2-1 {
    flex: 0 0 35%;
  }
}

/* Medium Devices, Laptops, Tablets*/
@media (max-width: 945px) {
  /* line 206, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  .art3 {
    margin-top: 2em;
  }
}

/* Medium Devices, Laptops, Tablets*/
@media (max-width: 864px) {
  /* line 213, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  .col-2-1 {
    flex: 0 0 100%;
  }
  /* line 217, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  header {
    background: url(../img/background/background-medium.jpg) no-repeat;
  }
  /* line 221, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  aside {
    order: 1;
  }
  /* line 225, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  .mainimg {
    order: 2;
  }
  /* line 229, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  main {
    order: 3;
    text-align: center;
  }
}

/* Small Devices, Tablets, Phones*/
@media (max-width: 638px) {
  /* line 237, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  .row {
    justify-content: center;
  }
  /* line 244, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  nav ul li span {
    display: none;
  }
  /* line 248, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  nav ul li i {
    visibility: visible;
    margin-right: 1.5em;
  }
  /* line 256, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  .art2, .art5 {
    margin-top: 2em;
  }
}

/* Small Devices, Tablets, Phones*/
@media (max-width: 570px) {
  /* line 263, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  .row {
    align-content: center;
  }
  /* line 266, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  .col-1 {
    flex: 0 0 90%;
  }
  /* line 270, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  aside {
    order: 3;
  }
  /* line 274, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  .mainimg {
    order: 1;
    padding-left: 7em;
  }
  /* line 279, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  main {
    order: 2;
    text-align: center;
  }
  /* line 284, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  article {
    margin: auto 1em;
  }
}

/* Small Devices, Phones*/
@media (max-width: 360px) {
  /* line 291, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  header {
    background: url(../img/background/background-sm.jpg) no-repeat;
  }
  /* line 294, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  header h1 {
    font-size: 2em;
    text-align: center;
  }
  /* line 300, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  .mainimg {
    order: 1;
    padding-left: 0;
  }
  /* line 308, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  nav ul li i {
    visibility: visible;
    margin-right: 0.5em;
  }
  /* line 316, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Flexbox/scss/styles.scss */
  article {
    margin: auto 0.5em;
  }
}

/*# sourceMappingURL=../css/styles.map */