/* Global styles */
body {
    text-align: center;
}

// anchor styles
a {
    color: darken(aqua, 8%);
    text-decoration: none;
    transition: color 1.5s;
}

a:hover, a:active {
    color: darken(#FF003F, 8%);
}

/* image styles */
img {
    width: 20em;
    filter: blur(5px) grayscale(100%);
    transition: width 2s, filter 2s;
}

img:hover {
    width: 60em;
    filter: blur(0) grayscale(0);
}


/*SVG styling */
svg {
    height: 16em;
}

.st0{
    fill:none;
}

/* Overall SVG animation */
svg {
    animation-name: fadein;
    animation-duration: 3s;
}

/* on page load, fade cat in slowly via changing opacity */
@keyframes fadein {
    0% {opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
    100% {opacity: 1;}
}

// eye animation
#eye:hover {
    animation-name: eye;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate; 
}

// on hover, transform eye scale
@keyframes eye {
    0% {transform: scale(1, 1);}
    100% {transform: scale(0, 0);}
}

/* Mustache animation */
#mustache {
    animation-name: mustache;
    animation-duration: 0.5s;
    animation-delay: 3s;
    animation-iteration-count: 6;
    animation-direction: alternate;    
}

/* On page load, rotate mustache*/
@keyframes mustache {
    0% {transform: rotate(0deg);}
    33% {transform: rotate(-1deg);}
    66% {transform: rotate(-2deg);}
    100% {transform: rotate(-3deg);}
}

// ear animation
#rightear, #leftear {
    fill: #FF69B4;
    animation-name: ears;
    animation-duration: 3s;
}

// On page load, fade in ears by changing fill color
@keyframes ears {
    0% {fill: black;}
    10% {fill: lighten(#FFB6C1, 90%);}
    20% {fill: lighten(#FF69B4, 80%)}
    30% {fill: lighten(#FF69B4, 70%)}
    40% {fill: lighten(#FF69B4, 60%)}
    50% {fill: lighten(#FF69B4, 50%)}
    60% {fill: lighten(#FF69B4, 40%)}
    70% {fill: lighten(#FF69B4, 30%)}
    80% {fill: lighten(#FF69B4, 20%)}
    90% {fill: lighten(#FF69B4, 10%)}
    100% {fill: #FFB6C1;}
}