/* Global styles */
/* line 2, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Animations/scss/styles.scss */
body {
  text-align: center;
}

/* line 6, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Animations/scss/styles.scss */
.introtext {
  font-size: 1.3em;
  line-height: 1.5em;
}

/* line 12, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Animations/scss/styles.scss */
a {
  color: #00d6d6;
  text-decoration: none;
  transition: color 1.5s;
}

/* line 18, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Animations/scss/styles.scss */
a:hover, a:active {
  color: #d60035;
}

/* image styles */
/* line 23, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Animations/scss/styles.scss */
img {
  width: 20em;
  filter: blur(5px) grayscale(100%);
  transition: width 2s, filter 2s;
}

/* line 29, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Animations/scss/styles.scss */
img:hover {
  width: 60em;
  filter: blur(0) grayscale(0);
}

/*SVG styling */
/* line 36, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Animations/scss/styles.scss */
svg {
  height: 16em;
}

/* line 40, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Animations/scss/styles.scss */
.st0 {
  fill: none;
}

/* Overall SVG animation */
/* line 45, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Animations/scss/styles.scss */
svg {
  animation-name: fadein;
  animation-duration: 3s;
}

/* on page load, fade cat in slowly via changing opacity */
@keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

/* line 60, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Animations/scss/styles.scss */
#eye:hover {
  animation-name: eye;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes eye {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 0);
  }
}

/* Mustache animation */
/* line 74, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Animations/scss/styles.scss */
#mustache {
  animation-name: mustache;
  animation-duration: 0.5s;
  animation-delay: 3s;
  animation-iteration-count: 6;
  animation-direction: alternate;
}

/* On page load, rotate mustache*/
@keyframes mustache {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-1deg);
  }
  66% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

/* line 91, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Animations/scss/styles.scss */
#rightear, #leftear {
  fill: #FF69B4;
  animation-name: ears;
  animation-duration: 3s;
}

@keyframes ears {
  0% {
    fill: black;
  }
  10% {
    fill: white;
  }
  20% {
    fill: white;
  }
  30% {
    fill: white;
  }
  40% {
    fill: white;
  }
  50% {
    fill: white;
  }
  60% {
    fill: white;
  }
  70% {
    fill: white;
  }
  80% {
    fill: #ffcfe7;
  }
  90% {
    fill: #ff9cce;
  }
  100% {
    fill: #FFB6C1;
  }
}

/* line 113, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Animations/scss/styles.scss */
.wrapper {
  display: grid;
  grid-gap: 1em;
  margin: 0 auto;
  padding: 1em;
}

/* line 120, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Animations/scss/styles.scss */
.intro {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

/* line 125, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Animations/scss/styles.scss */
.part1 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

/* line 130, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Animations/scss/styles.scss */
.part23 {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}

/* line 135, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Animations/scss/styles.scss */
.ic1 {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

/* line 140, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Animations/scss/styles.scss */
.ic2 {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
}

@media (max-width: 765px) {
  /* line 147, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Animations/scss/styles.scss */
  .intro {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
  }
  /* line 152, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Animations/scss/styles.scss */
  .part1 {
    grid-column: 1 / 1;
    grid-row: 2 / 3;
  }
  /* line 157, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Animations/scss/styles.scss */
  .part23 {
    grid-column: 1 / 1;
    grid-row: 3 / 4;
  }
  /* line 162, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Animations/scss/styles.scss */
  .ic1 {
    grid-column: 1 / 1;
    grid-row: 4 / 5;
  }
  /* line 167, C:/Users/Keeley/Desktop/Mobile Design/Assignment 4/Animations/scss/styles.scss */
  .ic2 {
    grid-column: 1 / 1;
    grid-row: 5 / 6;
  }
}

/*# sourceMappingURL=../css/styles.map */